@import 'utils/reset';
@import '_fonts.scss';
@import 'utils/mixins';
@import 'utils/vars';
@import 'utils/libs';

@include make_container($breakpoints);

@import 'blocks/header';
@import 'blocks/navbar';
@import 'blocks/banner';
@import 'blocks/advantages';
@import 'blocks/prices';
@import 'blocks/services';
@import 'blocks/profile_tabs';
@import 'blocks/banner-without-form';
@import 'blocks/options';
@import 'blocks/window_configurator';
@import 'blocks/about';
@import 'blocks/info';
@import 'blocks/our_advantages';
@import 'blocks/certificate';
@import 'blocks/works';
@import 'blocks/footer_form';
@import 'blocks/footer';

html,
body {
  position: relative;
  font-family: 'Uni Neue', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}
a {
  color: inherit;
}
button {
  font-family: inherit;
}
/* h2 {
  font-size: 3.2rem;
  line-height: 4.3rem;
  font-weight: bold;
} */
.section-title {
  font-size: 3.2rem;
  line-height: 4.3rem;
  font-weight: bold;
}
.section-subtitle {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
}
.wrapper {
  font-size: 28px;
  color: #000;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
input {
  width: 100%;
}
@media (max-width: 1100px) {
  html,
  body {
    font-size: 8px;
  }
}
/* @media (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
} */
