.about {
  background: #fff;
  padding: 10rem 0 10rem;
}
.about__wrapper {
  position: relative;
  padding: 2.4rem 0;
  background: rgba(202, 202, 202, 0.2);
}
.about__content {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: width(1920, 1335);
}
.about__inner {
  position: relative;
  width: width(1335, 723);
  z-index: 2000;
  padding: 15px 22px 32px 57px;
  background: #fff;
}
.about__title {
  font-size: 3.2rem;
  line-height: 5rem;
  font-weight: 700;
}
.about__text {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.about__video {
  position: absolute;
  width: width(1335, 705);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.about__link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cottage-banner {
  position: relative;
  padding: 60px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cottage-banner__inner {
  width: width(1920, 734);
  margin-left: 50%;
  padding: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: #fff;
}
.cottage-banner__title {
  width: 100%;
  font-size: 2.6rem;
  line-height: 3.5rem;
  font-weight: 500;
  text-align: right;
  margin-bottom: 26px;
}
.cottage-banner__item {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-right: 3.5rem;
  margin-bottom: 2.4rem;
  i {
    font-size: 3.4rem;
    width: 6.3rem;
    height: 6.3rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    margin-right: 2.3rem;
    color: #c4c4c4;
  }
}
@media (max-width: 1199.999px) {
  .cottage-banner__inner {
    width: 60%;
    margin-left: 40%;
  }
}
@media (max-width: 960px) {
  .about__content {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about__content {
    flex-wrap: wrap;
  }
  .about__inner {
    width: 100%;
  }
  .about__video {
    position: relative;
    width: 100%;
    top: 0;
    transform: translateY(0);
  }
  .cottage-banner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cottage-banner__inner {
    padding: 15px;
    width: 80%;
    margin-left: 20%;
  }
}
@media (max-width: 450px) {
  .about__content {
    width: 95%;
  }

  .cottage-banner__inner {
    .from-discount__btn {
      width: 70%;
    }
  }
  .cottage-banner__item {
    width: 100%;
  }
}
