.advantages {
  padding-top: 39px;
  padding-bottom: 44px;
  background: #fff;
}
.advantages__title {
  text-align: center;
  margin-bottom: 62px;
}
.advantages__list {
  display: flex;
}
.advantages__item {
  width: 25%;
  padding: 0 10px;
}

.mark {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 12px;
  width: 190px;
  height: 233px;
  background: $primary;
}
.mark__text {
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 90%;
  &:first-child {
    font-size: 8.3rem;
  }
  &:nth-child(2) {
    font-size: 4.4rem;
  }
  &:nth-child(3) {
    font-size: 2.4rem;
  }
}
.mark__triangle {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: polygon(50% 85%, 0% 100%, 100% 100%);
}
.advantages__subtitle {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.advantages__text {
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
}
.advantages__text-green {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
  color: $primary;
}
.advantage__icon {
  width: 38%;
  margin-bottom: 29px;
}
@media (max-width: 992px) {
  .mark {
    width: 154px;
    height: 180px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .advantages__title {
    margin-bottom: 30px;
  }
  .mark {
    width: 125px;
    height: 150px;
  }
}
@media (max-width: 640px) {
  .advantages__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__item {
    width: 45%;
    margin-bottom: 15px;
  }
  .advantages__text-green {
    margin-bottom: 15px;
  }
  .advantages__subtitle {
    margin-bottom: 5px;
  }
  .mark {
    margin-bottom: 15px;
  }
  .mark-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 440px) {
  .advantages__list {
    justify-content: center;
  }
  .advantages__item {
    width: 75%;
  }
}
