.banner {
  padding-top: 75px;
  padding-bottom: 95px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__subtitle {
  font-size: 1.4rem;
  line-height: 1.9rem;

  margin-bottom: 10px;
}
.banner__title {
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: 800;
  max-width: 55%;
  margin-bottom: 1.8rem;
}
.banner__subtitle-large {
  font-size: 3.6rem;
  line-height: 4.5rem;
  font-weight: 500;
  max-width: 50%;
}
.banner__text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  b {
    font-size: 1.9rem;
    line-height: 2.6rem;
  }
  max-width: 45%;
  margin-bottom: 68px;
}
.banner__text-regular {
  font-weight: 500;
}
.form-discount {
  width: 42%;
  margin-bottom: 27px;
  display: flex;
}
.form-discount-large {
  margin-bottom: 47px;
}
.from-discount__tel {
  padding: 16px 14px;
  background: #fff;
  border: 1px solid #c4c4c4;
  margin-right: 14px;
  font-size: 1.9rem;
  display: flex;
  width: 60%;
}
.icon-phone-primary {
  color: $primary;
}
.icon-phone-secondary {
  color: $secondary;
}
.from-discount__btn {
  font-family: 'Uni Neue';
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  padding: 16px 0;
  color: #fff;
  width: 40%;

  transition: all 0.4s ease;
  cursor: pointer;
}
.from-discount__btn-primary {
  background: $primary;
  &:hover {
    background: darken($secondary, 10%);
  }
}
.from-discount__btn-secondary {
  background: $secondary;
  &:hover {
    background: darken($secondary, 10%);
  }
}
.banner__message {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 500;
  max-width: 40%;
  margin-bottom: 20px;
}
.form-discount__text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  max-width: 38%;
}
@media (max-width: 960px) {
  .banner__title,
  .banner__subtitle {
    max-width: 70%;
  }
  .banner__text {
    max-width: 70%;
    margin-bottom: 30px;
  }
  .form-discount {
    width: 60%;
  }
  .from-discount__tel {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .banner__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 490px) {
  .banner__title,
  .banner__subtitle,
  .banner__message,
  .banner__text,
  .form-discount__text {
    max-width: 90%;
  }
  .form-discount {
    width: 90%;
  }
}
