.footer-form {
  padding: 5.4rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-form__subtitle {
  margin-bottom: 3.5rem;
}
.type-form {
  display: flex;
}
.form-discount__input {
  width: 25%;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 1.4rem 3.2rem;
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #c1c1c1;
  margin-right: 1.7em;
}
.type-form__btn {
  width: 20%;
}
@media (max-width: 768px) {
  .footer-form {
    padding: 20px 0;
    background-position: left center;
  }
  .footer-form__subtitle {
    margin-bottom: 0;
  }
  .type-form {
    flex-wrap: wrap;
  }
  .form-discount__input {
    width: 33%;
    margin-top: 15px;
  }
  .type-form__btn {
    width: 33%;
    margin-top: 15px;
  }
}
@media (max-width: 640px) {
  .footer-form__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 560px) {
  .form-discount__input,
  .type-form__btn {
    width: 45%;
  }
}
@media (max-width: 470px) {
  .form-discount__input,
  .type-form__btn {
    width: 70%;
    margin-right: 0;
  }
}
