.profile-tabs {
  background: #fff;
  padding: 54px 0 143px;
}
.profile-tabs__title {
  margin-bottom: 3.7rem;
  text-align: center;
}
.tab-control-secondary {
  border-color: $secondary;
}
.tab-control__btn-secondary {
  color: $secondary;
}
.tab-control__btn-active-secondary {
  color: #fff;
  background: $secondary;
}
.profile-tabs__wrapper {
  position: relative;
  padding-top: 38px;
  width: width(1920, 1286);
  margin: 0 auto;
}
.profile-tab {
  position: relative;
  display: none;
}
.profile-tab__inner {
  position: absolute;
  left: 0;
  top: 5px;
  width: width(1289, 429);
  text-align: center;
  z-index: 1500;
}
.profile-tab__img {
  width: width(429, 290);
}
.profile-tab__name,
.profile-tab__details {
  padding-left: width(1286, 441);
}
.profile-tab__title {
  padding-top: 35px;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 800;
}
.profile-tab__price {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  padding-bottom: 19px;
}
.profile-tab__price-secondary {
  font-size: 3.5rem;
  line-height: 4.7rem;
  font-weight: 700;
  color: $secondary;
}
.profile-tab__details {
  display: flex;
  padding-top: 22px;
  padding-bottom: 12px;
  padding-right: width(1286, 45);
  background: #f5f5f5;
}
.profile-tab__chars {
  width: 50%;
  margin-bottom: 19px;
}
.product-card__char-link {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-decoration: underline;
  color: $secondary;
}
.product-card__char-more {
  text-align: right;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $secondary;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-card__row-profile {
  margin-top: 19px;
}
.profile-tab__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-right: 10px;
  border: 1px solid $secondary;
}
.profile-tab__buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.from-discount__btn-profile {
  text-align: center;
  padding-right: 14px;
  padding-left: 14px;
  width: 100%;
  max-width: width(408, 270);
  &:first-child {
    margin-bottom: 24px;
  }
}
.icon-star {
  margin-right: 31px;
}
.profile-tab-active {
  display: block;
}
@media (max-width: 1800px) {
  .from-discount__btn-profile {
    max-width: 80%;
  }
}
@media (max-width: 1600px) {
  .profile-tabs__wrapper {
    width: 85%;
  }
}
@media (max-width: 1280px) {
  .profile-tabs__wrapper {
    width: 97%;
  }
}
@media (max-width: 900px) {
  .profile-tabs {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .profile-tab__details {
    flex-wrap: wrap;
    padding-right: 15%;
  }
  .profile-tab__chars {
    width: 100%;
  }
  .profile-tab__buttons {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .profile-tab__inner {
    top: 113px;
    width: 40%;
  }
  .profile-tabs__wrapper {
    padding-top: 0;
  }
  .profile-tab__name,
  .profile-tab__details {
    padding-left: 40%;
  }
  .profile-tab__buttons {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .profile-tab__details {
    padding-right: 5%;
  }
}
@media (max-width: 468px) {
  .profile-tab__inner {
    top: 10px;
    position: relative;
    float: left;
  }
  .profile-tab__details {
    clear: both;
    padding-left: 5%;
  }
}
