@import '../../../../node_modules/swiper/swiper.scss';
@import '../../../../node_modules/swiper/components/effect-fade/effect-fade.scss';
@import '../../../../node_modules/swiper/components/thumbs/thumbs.scss';
@import '../../../../node_modules/swiper/components/effect-flip/effect-flip.scss';

.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
