<div class="about">
  <div class="about__wrapper">
    <div class="about__content">
      <div class="about__inner">
        <div class="about__title">
          «Окна проект» — <br />
          работаем с 2005 года
        </div>
        <div class="about__text">
          Профессиональный подход и человеческое отношение - это основные приниципы
          компании. Мы не только производим окна, но стреиммся, что бы они приносили уют и
          комфорт в дома инаших заказчиков. <br />
          Используем профессиональное современное оборудование, все сотрудники компании
          проходят ежеквартальную аттестацию.
        </div>
      </div>
      <div class="about__video">
        <img
          class="lozad"
          data-src="/assets/images/about-video-screen.jpg"
          alt="about-video"
        />
        <a class="about__link" href="#">
          <svg
            width="78"
            height="78"
            viewBox="0 0 78 78"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M39 78C60.5391 78 78 60.5391 78 39C78 17.4609 60.5391 0 39 0C17.4609 0 0 17.4609 0 39C0 60.5391 17.4609 78 39 78ZM35.5 45.0622L46 39L35.5 32.9378V45.0622Z"
              fill="white"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="cottage-banner lozad" data-background-image="/assets/images/about-bg.jpg">
  <div class="cottage-banner__inner">
    <div class="cottage-banner__title">
      <b>Вы владелец коттеджа, дачи или загородного дома?</b>
      Получите реальную <b>скидку 15%</b> на остекление!
    </div>
    <div class="cottage-banner__item">
      <i class="icon-window"></i>
      <p>Окна любых нестандартных размеров и форм.</p>
    </div>
    <div class="cottage-banner__item">
      <i class="icon-logs"></i>
      Остекление деревянными или дерево-алюминиевыми окнами.
    </div>
    <div class="cottage-banner__item">
      <i class="icon-panorama"></i>
      Панорамное остекление, окна в пол.
    </div>
    <div class="cottage-banner__item">
      <i class="icon-door-handle"></i>
      <p>Дополнительные аксессуары для окон</p>
    </div>
    <button class="from-discount__btn from-discount__btn-primary">
      Узнать подробнее
    </button>
  </div>
</div>
