<section class="advantages">
  <div class="container">
    <div class="section-title advantages__title">
      «Окна проект» — лучшие пластиковые окна и двери от производителя!
    </div>
    <div class="advantages__list">
      <div class="advantages__item mark-responsive">
        <div class="mark">
          <div class="mark__text">15</div>
          <div class="mark__text">лет</div>
          <div class="mark__text">в деле</div>
          <div class="mark__triangle"></div>
        </div>
        <div class="advantages__subtitle">Лидер на рынке Москвы и МО</div>
        <div class="advantages__text">Лучшая оконная компания России в 2015 году</div>
      </div>
      <div class="advantages__item">
        <div class="advantages__text-green">Гарантия качества продукции</div>
        <div class="advantage__icon">
          <img class="lozad" data-src="/assets/images/advantage-1.svg" alt="prize" />
        </div>
        <div class="advantages__subtitle">Официальный партнер Rehau</div>
        <div class="advantages__text">
          Строгий контроль качества и технологии производства
        </div>
      </div>
      <div class="advantages__item">
        <div class="advantages__text-green">Цена ниже, чем у перепродавцов</div>
        <div class="advantage__icon">
          <img class="lozad" data-src="/assets/images/advantage-2.svg" alt="price" />
        </div>
        <div class="advantages__subtitle">Экономим ваши время и деньги</div>
        <div class="advantages__text">Гарантируем цену ниже, чем у посредников</div>
      </div>
      <div class="advantages__item">
        <div class="advantages__text-green">Быстрое изготовление и монтаж</div>
        <div class="advantage__icon">
          <img class="lozad" data-src="/assets/images/advantage-3.svg" alt="clock" />
        </div>
        <div class="advantages__subtitle">Выезд замерщика в удобное для вас время</div>
        <div class="advantages__text">В рабочие и выходные дни с утра до вечера</div>
      </div>
    </div>
  </div>
</section>
