<section class="banner" style="background-image: url(/assets/images/banner.jpg)">
  <div class="container banner__wrapper">
    <div class="banner__subtitle"><b>Акция до 25 ноября</b></div>
    <div class="banner__title">Пластиковые окна REHAU со скидкой до 50% +6%</div>
    <div class="banner__text">
      Закажите немецкие термоокна с защитой от холода и жары по цене обычных
      <b>со скидкой до 50% + скидка месяца 6%</b> на весь чек.
    </div>
    <form class="form-discount">
      <div class="from-discount__tel">
        <i class="icon-phone icon-phone-secondary"></i>
        <input type="tel" />
      </div>
      <button class="from-discount__btn from-discount__btn-secondary">
        Получить скидку
      </button>
    </form>
    <div class="banner__message">
      Наш специалист позвонит вам <b>в течении 10 минут</b> и подберёт лучшее решение
    </div>
    <div class="form-discount__text">
      Нажимая на кнопку, вы принимаете условия Положения и даете Согласие на обработку
      персональных данных
    </div>
  </div>
</section>
