<section
  class="banner banner-without-form lozad"
  data-background-image="/assets/images/banner-without-form.jpg"
>
  <div class="container banner__wrapper">
    <div class="banner__subtitle banner__subtitle-large banner__subtitle-long">
      Закажите остекление балкона/лоджии по акции
      <span class="banner__subtitle-heavy">до конца декабря!</span>
    </div>
    <div class="banner__note">
      * При заказе балкона под ключ — утепление балкона бесплатно
    </div>
    <div class="banner__text banner__text-regular">
      До конца декабря снижены цены на 35% на остекление балконов и лоджии с
      использованием профильной системы REHAU серии (указать какую)
    </div>
    <form class="form-discount">
      <button class="from-discount__btn from-discount__btn-primary">
        Узнать подробнее
      </button>
    </form>
  </div>
</section>
