<div class="certificate">
  <div class="container certificate__wrapper">
    <div class="certificate__main">
      <div class="swiper-container" id="certificate-main">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="zoom-image lozad"
              zoom-src="/assets/images/certificate-1.jpg"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="zoom-image lozad"
              zoom-src="/assets/images/certificate-1.jpg"
              data-src="/assets/images/certificate-1.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="zoom-image lozad"
              zoom-src="/assets/images/certificate-1.jpg"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="zoom-image lozad"
              zoom-src="/assets/images/certificate-1.jpg"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="zoom-image lozad"
              zoom-src="/assets/images/certificate-1.jpg"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="certificate__thumb">
      <div class="section-title">Закажите окна</div>
      <div class="section-subtitle certificate__subtitle">у лидера рынка</div>
      <div class="swiper-container" id="certificate-thumb">
        <div class="certificate__control">
          <div class="certificate__pages">
            <span class="certificate__page-current"></span>
            <span class="certificate__page-total"></span>
          </div>
          <div class="certificate__btns">
            <div
              class="lamination-thumb__btn lamination-thumb__btn-prev"
              id="certificate-prev"
            >
              <i class="icon-arrow"></i>
            </div>
            <div
              class="lamination-thumb__btn lamination-thumb__btn-next"
              id="certificate-next"
            >
              <i class="icon-arrow"></i>
            </div>
          </div>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="lozad"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="lozad"
              data-src="/assets/images/certificate-1.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="lozad"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="lozad"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="lozad"
              data-src="/assets/images/certificate.jpg"
              alt="certificate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
