<div class="footer-form lozad" data-background-image="/assets/images/footer-form-bg.jpg">
  <div class="container footer-form__wrapper">
    <div class="banner__subtitle banner__subtitle-large">
      Вызови замерщика <b>бесплатно</b>
    </div>
    <div class="section-subtitle footer-form__subtitle">
      Оставьте заявку и получите самую выгодную цену, а наши <br />
      менеджеры свяжутся с вами прямо сейчас!
    </div>
    <form class="type-form">
      <div class="form-discount__input">
        <input type="text" placeholder="Как Вас зовут?" />
      </div>
      <div class="form-discount__input">
        <input type="tel" placeholder="Телефон" />
      </div>
      <div class="form-discount__input">
        <input type="text" placeholder="Адрес замера" />
      </div>
      <button
        type="submit"
        class="from-discount__btn from-discount__btn-primary type-form__btn"
      >
        Вызвать замерщика
      </button>
    </form>
  </div>
</div>
