<footer class="footer">
  <div class="footer-nav container">
    <div class="footer-nav__item footer-nav__item-responsive">
      <div class="footer-nav__title">Мы в Whatsapp</div>
      <img
        class="footer-nav__qr lozad"
        data-src="/assets/images/qr-code.jpg"
        alt="qr-code"
      />
    </div>
    <div class="footer-nav__item">
      <div class="footer-nav__links">
        <div class="footer-nav__title">Навигация по сайту</div>
        <div class="footer-nav__link"><a href="#" class="nav-link">О нас</a></div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link">Сертификаты</a>
        </div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link">Наши работы</a>
        </div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link">Написать директору</a>
        </div>
        <div class="footer-nav__link"><a href="#" class="nav-link">Отзывы</a></div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link">Видео-отзывы</a>
        </div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link">Вопрос-ответ</a>
        </div>
      </div>
    </div>
    <div class="footer-nav__item">
      <div class="footer-nav__title">Навигация по услугам</div>
      <div class="footer-nav__links">
        <div class="footer-nav__link"><a class="nav-link" href="#">Окна</a></div>
        <div class="footer-nav__link"><a class="nav-link" href="#">Балконы</a></div>
        <div class="footer-nav__link"><a class="nav-link" href="#">Двери</a></div>
        <div class="footer-nav__link footer-nav__submenu">
          <a class="nav-link" href="#">Услуги</a>
          <div class="submenu">
            <div class="footer-nav__link"><a class="nav-link" href="#">О нас</a></div>
            <div class="footer-nav__link">
              <a class="nav-link" href="#">Сертификаты</a>
            </div>
            <div class="footer-nav__link">
              <a class="nav-link" href="#">Наши работы</a>
            </div>
            <div class="footer-nav__link">
              <a class="nav-link" href="#">Написать директору</a>
            </div>
            <div class="footer-nav__link"><a class="nav-link" href="#">Отзывы</a></div>
            <div class="footer-nav__link">
              <a class="nav-link" href="#">Видео-отзывы</a>
            </div>
            <div class="footer-nav__link">
              <a class="nav-link" href="#">Вопрос-ответ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav__payment">
      <div class="footer-nav__title">Работаем по картам</div>
      <div class="footer-nav__links-payment">
        <div class="footer-nav__link">
          <a href="#" class="nav-link footer-nav__link-payment"
            ><img
              class="lozad"
              data-src="/assets/images/payment-mir.png"
              alt="payment-mir"
            />
          </a>
        </div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link footer-nav__link-payment"
            ><img
              class="lozad"
              data-src="/assets/images/payment-visa.png"
              alt="payment-visa"
          /></a>
        </div>
        <div class="footer-nav__link">
          <a href="#" class="nav-link"
            ><img
              class="lozad"
              data-src="/assets/images/payment-mastercard.png"
              alt="payment-mastercard"
          /></a>
        </div>
      </div>
      <div class="footer-nav__cooperate">
        <div class="footer-nav__title"><a href="#">Контакты</a></div>
        <div class="footer-nav__title"><a href="#">Вакансии</a></div>
        <div class="footer-nav__title"><a href="#">Портфолио</a></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>
        Московская область, г. Красногорск, Красногорский бульвар, дом 17 (м. Мякинино)
      </p>
      <p>© 2020 Все права защищены ОКНА ПРОЕКТ +7 (495) 003 26 36</p>
    </div>
  </div>
</footer>
