<header class="header">
  <div class="logo">
    <div class="logo__link">
      <a href="#"><img src="/assets/images/logo.png" alt="окнапроект" /></a>
      <div class="logo__text"><b>Нас советуют</b> друзьям</div>
    </div>
    <div class="logo__partner">
      <img src="/assets/images/logo-rehau.png" alt="rehau-logo" />
    </div>
  </div>

  <div class="contact-panel container">
    <div class="cotact-panel__group">
      <ul class="social-list">
        <li class="social-list__item">
          <a href="#" class="social-list__link icon-vk"> </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link icon-instagram"> </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link icon-youtube"> </a>
        </li>
      </ul>
      <div class="work-info">
        <div class="work-info__time">
          <i class="icon-header-clock"></i> <span>Режим работы: c 9.00-22.00</span>
        </div>
        <div class="work-info__location">Мы работаем <b>по Москве и МО</b></div>
      </div>
    </div>
    <div class="cotact-panel__group-btn">
      <div class="contact-info">
        <a class="contact-info__mail" href="mailto:info@oknaproekt.ru"
          ><i class="icon-mail"></i>info@oknaproekt.ru</a
        >
        <a
          class="contact-info__whatsapp"
          href="https://api.whatsapp.com/send?phone="
          target="_blank"
          ><img
            class="contact-info__whatsapp-icon"
            src="/assets/images/icons/icon-whatsapp.svg"
            alt="whatsapp"
          />
          Связаться &nbsp;<b>по Whatsapp</b>
        </a>
      </div>
      <div class="header__btn">
        <button class="btn-action"><i class="icon-triangle"></i> Бесплатный замер</button>
      </div>
    </div>

    <div class="city-change">
      <div class="city-change__text">Ваш Город:</div>
      <div class="city-change__select">
        Москва
        <div class="city-change__list">
          <a class="city-change__item" href="#" target="_blank">Москва</a>
          <a class="city-change__item" href="#" target="_blank">Одинцово</a>
          <a class="city-change__item" href="#" target="_blank">Долгопрудный</a>
          <a class="city-change__item" href="#" target="_blank">Химки</a>
          <a class="city-change__item" href="#" target="_blank">Красногорск</a>
        </div>
      </div>
    </div>
  </div>
  <div class="request-call">
    <a class="request-call__phone" href="tel:+74950032636"
      >+7 (495) <span style="font-weight: 800">003 26 36</span></a
    >
    <button class="request-call__btn"><i class="icon-phone"></i> Заказать звонок</button>
  </div>
  <button class="hamburger-icon" id="nav-bar-btn">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
  </button>
  <div class="nav-bar-layer"></div>
</header>
