<div class="info" style="background-image: url(/assets/images/patern_dots.png)">
  <div class="container">
    <div class="section-title">
      Мы используем только качественную фурнитуру —№1 на рынке
    </div>
    <div class="info__title">
      <svg
        class="info__icon"
        width="45"
        height="45"
        viewBox="0 0 45 45"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="22.5" cy="22.5" r="22.5" fill="#37A58C" fill-opacity="0.5" />
        <circle cx="22.5" cy="22.5" r="15.5" fill="#37A58C" />
        <path
          d="M23.128 27.296H21.304C21.064 27.296 20.944 27.184 20.944 26.96L20.752 19.568V15.2C20.752 14.96 20.864 14.84 21.088 14.84H23.32C23.56 14.84 23.68 14.96 23.68 15.2V19.568L23.488 26.96C23.488 27.184 23.368 27.296 23.128 27.296ZM23.512 29.12C23.864 29.472 24.04 29.904 24.04 30.416C24.04 30.928 23.864 31.36 23.512 31.712C23.16 32.064 22.728 32.24 22.216 32.24C21.688 32.24 21.248 32.064 20.896 31.712C20.56 31.36 20.392 30.928 20.392 30.416C20.392 29.904 20.56 29.472 20.896 29.12C21.248 28.768 21.688 28.592 22.216 28.592C22.728 28.592 23.16 28.768 23.512 29.12Z"
          fill="white"
        />
      </svg>
      Полезная информация
    </div>
    <div class="info__product">
      <div class="info__text">
        <p>
          Для частных и загородных домов, квартир на первых этажах, офисов и магазинов
          <b
            >мы рекомендуем установку усиленной противовзломной фурнитурой. При замене
            окон в квартирах с маленькими детьми - замену стандартных ручек на ручки с
            замком.</b
          >
        </p>
        <p>
          Каждое окно комплектуется <b>немецкой надежной фурнитурой.</b> Её отлачают
          долгий срок службы, стильный дизайн, высокий уровень безопасности и
          энергоэффекивности, лёгкое и плавное управление.
        </p>
      </div>
      <div class="info__list">
        <div class="info__item">
          <img
            class="info__img"
            src="../assets/images/info-block/rehau-blitz-img2.png"
            alt=""
          />
          Roto NT
        </div>
        <div class="info__item">
          <img
            class="info__img"
            src="../assets/images/info-block/rehau-blitz-img3.png"
            alt=""
          />
          Siegenia
        </div>
        <div class="info__item">
          <img
            class="info__img"
            src="../assets/images/info-block/rehau-blitz-img4.png"
            alt=""
          />
          Vorne
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question">
  <div class="container question__wrapper">
    <div class="question__list">
      <div class="section-title section-title-question">Вопрос-ответ</div>
      <div class="question__item">
        <div class="question__icon">+</div>
        <div class="question__title">
          Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
        </div>
        <div class="question__body">
          Точную стоимость сможет рассчитать наш менеджер, изучив все ваши требования,
          определив размеры и особенности проема, после личного визита к вам. Цена зависит
          от формы, количества створок, типа открывания, вида стеклопакета, цвета,
          комплектующих, других факторов.
        </div>
      </div>
      <div class="question__item">
        <div class="question__icon">+</div>
        <div class="question__title">
          Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
        </div>
        <div class="question__body">
          Точную стоимость сможет рассчитать наш менеджер, изучив все ваши требования,
          определив размеры и особенности проема, после личного визита к вам. Цена зависит
          от формы, количества створок, типа открывания, вида стеклопакета, цвета,
          комплектующих, других факторов.
        </div>
      </div>
      <div class="question__item">
        <div class="question__icon">+</div>
        <div class="question__title">
          Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
        </div>
        <div class="question__body">
          Точную стоимость сможет рассчитать наш менеджер, изучив все ваши требования,
          определив размеры и особенности проема, после личного визита к вам. Цена зависит
          от формы, количества створок, типа открывания, вида стеклопакета, цвета,
          комплектующих, других факторов.
        </div>
      </div>
      <div class="question__item">
        <div class="question__icon">+</div>
        <div class="question__title">
          Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
        </div>
        <div class="question__body">
          Точную стоимость сможет рассчитать наш менеджер, изучив все ваши требования,
          определив размеры и особенности проема, после личного визита к вам. Цена зависит
          от формы, количества створок, типа открывания, вида стеклопакета, цвета,
          комплектующих, других факторов.
        </div>
      </div>
      <div class="question__item">
        <div class="question__icon">+</div>
        <div class="question__title">
          Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
        </div>
        <div class="question__body">
          Точную стоимость сможет рассчитать наш менеджер, изучив все ваши требования,
          определив размеры и особенности проема, после личного визита к вам. Цена зависит
          от формы, количества створок, типа открывания, вида стеклопакета, цвета,
          комплектующих, других факторов.
        </div>
      </div>
    </div>
    <div class="rounded-slider">
      <div class="section-title rounded-slider__title">С нами удобно работать</div>
      <div class="rounded-slider__pages">
        <div class="rounded-slider__page-active">5</div>
        <div class="rounded-slider__page-total">/5</div>
      </div>

      <div class="rounded-slider__container">
        <div class="rounded-slider__bar">
          <svg viewbox="0 0 200 200">
            <circle
              r="80"
              cx="100"
              cy="100"
              fill="none"
              stroke-width="12"
              stroke="#ccc"
            />
            <circle
              id="rounded-slider-bar"
              r="80"
              cx="100"
              cy="100"
              fill="none"
              stroke-width="12"
              stroke="#37A58C"
              stroke-linecap="round"
              stroke-dasharray="502.4"
              stroke-dashoffset="500"
            />
          </svg>
        </div>
        <div class="swiper-container rounded-slider-main" id="rounded-slider-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/rounded-slider/maintenance-1.svg"
                alt="maintence"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/rounded-slider/maintenance-2.svg"
                alt="maintence"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/rounded-slider/maintenance-3.svg"
                alt="maintence"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/rounded-slider/maintenance-4.svg"
                alt="maintence"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/rounded-slider/maintenance-5.svg"
                alt="maintence"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="rounded-slider-thumb swiper-no-swiping" id="rounded-slider-thumb">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Консультация</div>
          <div class="swiper-slide">Выезд на замер</div>
          <div class="swiper-slide">Подписание договора</div>
          <div class="swiper-slide">Монтаж</div>
          <div class="swiper-slide">Послегарантийное обслуживание</div>
        </div>
      </div>
      <div class="rounded-slider__control">
        <div
          class="lamination-thumb__btn lamination-thumb__btn-prev rounded-slider__btn"
          id="rounded-slider-prev"
        >
          <i class="icon-arrow"></i>
        </div>
        <div
          class="lamination-thumb__btn lamination-thumb__btn-next rounded-slider__btn"
          id="rounded-slider-next"
        >
          <i class="icon-arrow"></i>
        </div>
      </div>
    </div>
    <a class="question__link" href="#">Смотреть все</a>
  </div>
</div>
<div class="services lozad" data-background-image="/assets/images/patern_dots.png">
  <div class="container services__list">
    <a class="services__item" href="#">
      <div class="services__icon">
        <div class="services__icon-wrapper">
          <i class="icon-calculator"></i>
        </div>
      </div>
      <div class="services__text">Калькулятор стоимости окон</div>
    </a>
    <a class="services__item" href="#">
      <div class="services__icon">
        <div class="services__icon-wrapper">
          <i class="icon-balcony"></i>
        </div>
      </div>
      <div class="services__text">Остекление балконов и лоджий</div>
    </a>
    <a class="services__item" href="#">
      <div class="services__icon">
        <div class="services__icon-wrapper">
          <i class="icon-discount"></i>
        </div>
      </div>
      <div class="services__text">Акции и скидки</div>
    </a>
    <a class="services__item" href="#">
      <div class="services__icon">
        <div class="services__icon-wrapper">
          <i class="icon-phone"></i>
        </div>
      </div>
      <div class="services__text">Контакты</div>
    </a>
  </div>
</div>
