<section class="banner lozad" data-background-image="/assets/images/banner-3.jpg">
  <div class="container banner__wrapper">
    <div class="banner__subtitle banner__subtitle-large">
      Закажите бесплатный замер прямо сейчас!
    </div>
    <div class="banner__title">Скидка -5% в день замера!</div>
    <div class="banner__text banner__text-regular">Перезвоним и договоримся о дате</div>
    <form class="form-discount form-discount-large">
      <div class="from-discount__tel">
        <i class="icon-phone icon-phone-primary"></i>
        <input type="tel" />
      </div>
      <button class="from-discount__btn from-discount__btn-primary">
        Получить скидку
      </button>
    </form>
    <div class="form-discount__text">
      Нажимая на кнопку, вы принимаете условия Положения и даете Согласие на обработку
      персональных данных
    </div>
  </div>
</section>
