<nav class="navbar" id="main-nav-bar">
  <button class="hamburger-icon active" id="navbar-btn-close">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
  </button>
  <div class="cotact-panel__group-mobile">
    <ul class="social-list">
      <li class="social-list__item">
        <a href="#" class="social-list__link social-list__link-mobile icon-vk"> </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link social-list__link-mobile icon-instagram">
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link social-list__link-mobile icon-youtube"> </a>
      </li>
    </ul>
    <div class="work-info work-info-mobile">
      <div class="work-info__time">
        <i class="icon-header-clock"></i> <span>Режим работы: c 9.00-22.00</span>
      </div>
      <div class="work-info__location">Мы работаем <b>по Москве и МО</b></div>
    </div>
  </div>
  <div class="city-change city-change-responsive">
    <div class="city-change__text city-change__text-responsive">Ваш Город:</div>
    <div class="city-change__select">
      Москва
      <div class="city-change__list">
        <a class="city-change__item" href="#" target="_blank">Москва</a>
        <a class="city-change__item" href="#" target="_blank">Одинцово</a>
        <a class="city-change__item" href="#" target="_blank">Долгопрудный</a>
        <a class="city-change__item" href="#" target="_blank">Химки</a>
        <a class="city-change__item" href="#" target="_blank">Красногорск</a>
      </div>
    </div>
  </div>
  <ul class="container navbar-list">
    <li class="navbar-list__item navbar-list__item-submenu">
      <a class="navbar-list__link navbar-list__link-submenu" href="#">Окна </a>

      <ul class="subnav-list">
        <li>
          <a class="navbar-list__link" href="#"> Другая продукция</a>
        </li>
        <li>
          <a class="navbar-list__link" href="#"> Другая продукция</a>
        </li>
        <li><a class="navbar-list__link" href="#">Окна</a></li>
        <li><a class="navbar-list__link" href="#">Окна</a></li>
      </ul>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#">Балконы </a>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#">Двери </a>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#">Другая продукция </a>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#">Услуги </a>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#"> О компании </a>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#">Акции </a>
    </li>
    <li class="navbar-list__item">
      <a class="navbar-list__link" href="#">Контакты </a>
    </li>
  </ul>
</nav>
