<div class="options">
  <div class="section-title">Опции и аксессуары</div>
  <div class="section-subtitle services__subtitle">Качество соответсвующее цене</div>
  <div class="options__wrapper">
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
    <div class="options__card">
      <div class="options__picture">
        <div class="options__image">
          <img class="lozad" data-src="/assets/images/option-1.jpg" alt="option-1" />
        </div>
        <div class="services-card__layer">
          <a href="#" class="card-link card-link-options">
            <div class="card-link__text card-link__text-options">
              Ламинированный профиль
            </div>
            <div class="card-link__icon">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="options-card__text">
        Ламинация – одно - или двухстороннее покрытие профиля. Ламинированные окна красиво
        смотрятся и могут выгодно подчеркнуть красоту помещения.
      </div>
    </div>
  </div>
</div>
