<div class="our-advantages">
  <div class="container our-advantages__wrapper">
    <div class="our-advantages__item-title our-advantages__item-4col">
      <div class="section-title">Наши преимущества</div>
      <div class="section-subtitle">Почему стоит выбрать именно нас</div>
    </div>
    <div class="our-advantages__item our-advantages__item-8col">
      <div class="our-advantages__icon" data-num="01"><i class="icon-settings"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">
          Правильный монтаж
        </div>
        <div class="our-advantages__text">
          Работаем по современной высокоэффективной технологии. Для того чтобы окно было
          долговечным, имело высокий уровень тепло- и шумоизоляции, требуется строгое
          соблюдение технологии монтажа.
        </div>
      </div>
    </div>
    <div class="our-advantages__item our-advantages__item-4col" style="z-index: 3000">
      <div class="our-advantages__icon" data-num="02"><i class="icon-medal"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">15 лет на рынке</div>
        <div class="our-advantages__text">Надежность. Работаем по договору.</div>
      </div>
    </div>
    <div class="our-advantages__item our-advantages__item-4col" style="z-index: 2000">
      <div class="our-advantages__icon" data-num="03"><i class="icon-discount"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">Доступность</div>
        <div class="our-advantages__text">
          Мы делаем всё, чтобы наши цены были ниже чем у конкурентов
        </div>
      </div>
    </div>
    <div class="our-advantages__item our-advantages__item-4col">
      <div class="our-advantages__icon" data-num="04"><i class="icon-shield"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">Гарантия 15 лет</div>
        <div class="our-advantages__text">
          Пластиковые окна не нуждаются в трудоемком обслуживании и реставрации.
          Гарантийный срок достигает 15 лет.
        </div>
      </div>
    </div>
    <div class="our-advantages__item our-advantages__item-6col" style="z-index: 3000">
      <div class="our-advantages__icon" data-num="05"><i class="icon-recycle"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">Экологичность</div>
        <div class="our-advantages__text">
          Окна из ПВХ экологически безвредны. Они не влияют на здоровье людей и не
          выделяют в атмосферу вредные вещества.
        </div>
      </div>
      <div class="our-advantages__mask"></div>
    </div>
    <div class="our-advantages__item our-advantages__item-6col">
      <div class="our-advantages__icon" data-num="06"><i class="icon-worker"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">Технологичность</div>
        <div class="our-advantages__text">
          Окна ПВХ довольно легко устанавливать в помещениях, благодаря отлаженным
          производственным операциям и возможности полной автоматизации технологического
          цикла.
        </div>
      </div>
    </div>
    <div class="our-advantages__item our-advantages__item-8col">
      <div class="our-advantages__icon" data-num="07"><i class="icon-wind"></i></div>
      <div class="our-advantages__content">
        <div class="our-advantages__text our-advantages__text-title">
          Немецкое качество
        </div>
        <div class="our-advantages__text">
          Окна, изготовленные по немецкой технологии, обладают гладким жестким профилем,
          способным противостоять существенным ветровым нагрузкам (так называемой хорошей
          парусностью).
        </div>
      </div>
    </div>
    <div class="our-advantages__btn our-advantages__item-4col">
      <button class="from-discount__btn from-discount__btn-primary">
        Посмотреть работы
      </button>
    </div>
  </div>
</div>
