<section class="prices">
  <div class="container">
    <div class="section-title prices__title">Стоимость окон</div>
    <div class="section-subtitle prices__subtitle">Выберите профиль</div>
  </div>
  <div class="product-cards" id="prices-tabs">
    <div class="tab-control">
      <div data-tab="Blitz" class="tab-control__btn tab-control__btn-active">Blitz</div>
      <div data-tab="Grazio" class="tab-control__btn">Grazio</div>
      <div data-tab="Delight" class="tab-control__btn">Delight</div>
      <div data-tab="Brillant" class="tab-control__btn">Brillant</div>
      <div data-tab="Intelio" class="tab-control__btn">Intelio</div>
      <div data-tab="Geneo" class="tab-control__btn">Geneo</div>
    </div>
    <div class="product-cards__tabs">
      <div
        class="product-cards__wrapper product-cards__wrapper-active"
        data-tab-content="Blitz"
      >
        <div class="product-card">
          <div class="product-card__layer">
            <div class="product-card__img">
              <img
                class="lozad"
                data-src="/assets/images/tab-product-1.jpg"
                alt="window"
              />
            </div>
            <div class="product-card__details">
              <div class="product-card__chars product-card__char-title">
                Двухстворчатое
              </div>
              <div class="product-card__ranges product-card__char-size">
                Размер: 1330 x 1410 мм (1,87 м2)
              </div>
              <div class="product-card__chars product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Blitz</div>
                  <div class="product-card__char product-card__char-value">
                    3 камеры, 60 мм
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__char product-card__char-value">32 мм</div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Фурнитура</div>
                  <div class="product-card__char product-card__char-value">Axor K3</div>
                </div>
              </div>
              <div class="product-card__ranges product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 87.5%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Свет</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 60.2%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Шум</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 47%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card__price">
              <div class="price__full">
                Под ключ: <span class="price__full-number">22 000 ₽</span>
              </div>
              <div class="price__low">
                <span class="price__low-before">10 840 ₽</span>
                <span class="price__low-discount">8 340 ₽</span>
              </div>
            </div>
            <div class="product-card__buy">
              <button class="product-card__btn">Заказать остекление</button>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__layer">
            <div class="product-card__img">
              <img
                class="lozad"
                data-src="/assets/images/tab-product-1.jpg"
                alt="window"
              />
            </div>
            <div class="product-card__details">
              <div class="product-card__chars product-card__char-title">
                Двухстворчатое
              </div>
              <div class="product-card__ranges product-card__char-size">
                Размер: 1330 x 1410 мм (1,87 м2)
              </div>
              <div class="product-card__chars product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Blitz</div>
                  <div class="product-card__char product-card__char-value">
                    3 камеры, 60 мм
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__char product-card__char-value">32 мм</div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Фурнитура</div>
                  <div class="product-card__char product-card__char-value">Axor K3</div>
                </div>
              </div>
              <div class="product-card__ranges product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 87.5%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Свет</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 60.2%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Шум</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 47%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card__price">
              <div class="price__full">
                Под ключ: <span class="price__full-number">22 000 ₽</span>
              </div>
              <div class="price__low">
                <span class="price__low-before">10 840 ₽</span>
                <span class="price__low-discount">8 340 ₽</span>
              </div>
            </div>
            <div class="product-card__buy">
              <button class="product-card__btn">Заказать остекление</button>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__layer">
            <div class="product-card__img">
              <img
                class="lozad"
                data-src="/assets/images/tab-product-1.jpg"
                alt="window"
              />
            </div>
            <div class="product-card__details">
              <div class="product-card__chars product-card__char-title">
                Двухстворчатое
              </div>
              <div class="product-card__ranges product-card__char-size">
                Размер: 1330 x 1410 мм (1,87 м2)
              </div>
              <div class="product-card__chars product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Blitz</div>
                  <div class="product-card__char product-card__char-value">
                    3 камеры, 60 мм
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__char product-card__char-value">32 мм</div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Фурнитура</div>
                  <div class="product-card__char product-card__char-value">Axor K3</div>
                </div>
              </div>
              <div class="product-card__ranges product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 87.5%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Свет</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 60.2%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Шум</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 47%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card__price">
              <div class="price__full">
                Под ключ: <span class="price__full-number">22 000 ₽</span>
              </div>
              <div class="price__low">
                <span class="price__low-before">10 840 ₽</span>
                <span class="price__low-discount">8 340 ₽</span>
              </div>
            </div>
            <div class="product-card__buy">
              <button class="product-card__btn">Заказать остекление</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-cards__wrapper" data-tab-content="Grazio">
        <div class="product-card">
          <div class="product-card__layer">
            <div class="product-card__img">
              <img
                class="lozad"
                data-src="/assets/images/tab-product-1.jpg"
                alt="window"
              />
            </div>
            <div class="product-card__details">
              <div class="product-card__chars product-card__char-title">
                Двухстворчатое
              </div>
              <div class="product-card__ranges product-card__char-size">
                Размер: 1330 x 1410 мм (1,87 м2)
              </div>
              <div class="product-card__chars product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Blitz</div>
                  <div class="product-card__char product-card__char-value">
                    3 камеры, 60 мм
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__char product-card__char-value">32 мм</div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Фурнитура</div>
                  <div class="product-card__char product-card__char-value">Axor K3</div>
                </div>
              </div>
              <div class="product-card__ranges product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 87.5%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Свет</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 60.2%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Шум</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 47%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card__price">
              <div class="price__full">
                Под ключ: <span class="price__full-number">22 000 ₽</span>
              </div>
              <div class="price__low">
                <span class="price__low-before">10 840 ₽</span>
                <span class="price__low-discount">8 340 ₽</span>
              </div>
            </div>
            <div class="product-card__buy">
              <button class="product-card__btn">Заказать остекление</button>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__layer">
            <div class="product-card__img">
              <img
                class="lozad"
                data-src="/assets/images/tab-product-1.jpg"
                alt="window"
              />
            </div>
            <div class="product-card__details">
              <div class="product-card__chars product-card__char-title">
                Двухстворчатое
              </div>
              <div class="product-card__ranges product-card__char-size">
                Размер: 1330 x 1410 мм (1,87 м2)
              </div>
              <div class="product-card__chars product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Blitz</div>
                  <div class="product-card__char product-card__char-value">
                    3 камеры, 60 мм
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__char product-card__char-value">32 мм</div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Фурнитура</div>
                  <div class="product-card__char product-card__char-value">Axor K3</div>
                </div>
              </div>
              <div class="product-card__ranges product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 87.5%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Свет</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 60.2%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Шум</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 47%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card__price">
              <div class="price__full">
                Под ключ: <span class="price__full-number">22 000 ₽</span>
              </div>
              <div class="price__low">
                <span class="price__low-before">10 840 ₽</span>
                <span class="price__low-discount">8 340 ₽</span>
              </div>
            </div>
            <div class="product-card__buy">
              <button class="product-card__btn">Заказать остекление</button>
            </div>
          </div>
        </div>
        <div class="product-card">
          <div class="product-card__layer">
            <div class="product-card__img">
              <img
                class="lozad"
                data-src="/assets/images/tab-product-1.jpg"
                alt="window"
              />
            </div>
            <div class="product-card__details">
              <div class="product-card__chars product-card__char-title">
                Двухстворчатое
              </div>
              <div class="product-card__ranges product-card__char-size">
                Размер: 1330 x 1410 мм (1,87 м2)
              </div>
              <div class="product-card__chars product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Blitz</div>
                  <div class="product-card__char product-card__char-value">
                    3 камеры, 60 мм
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__char product-card__char-value">32 мм</div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Фурнитура</div>
                  <div class="product-card__char product-card__char-value">Axor K3</div>
                </div>
              </div>
              <div class="product-card__ranges product-card__chars-responsive">
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">
                    Стеклопакет
                  </div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 87.5%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Свет</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 60.2%"></div>
                    </div>
                  </div>
                </div>
                <div class="product-card__row product-card__row-char">
                  <div class="product-card__char product-card__char-name">Шум</div>
                  <div class="product-card__range">
                    <div class="range__back">
                      <div class="range__fill" style="width: 47%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card__price">
              <div class="price__full">
                Под ключ: <span class="price__full-number">22 000 ₽</span>
              </div>
              <div class="price__low">
                <span class="price__low-before">10 840 ₽</span>
                <span class="price__low-discount">8 340 ₽</span>
              </div>
            </div>
            <div class="product-card__buy">
              <button class="product-card__btn">Заказать остекление</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
