<div class="services">
  <div class="section-title">Услуги по остеклению</div>
  <div class="section-subtitle services__subtitle">Окна и двери для дома</div>
  <div class="services__wrapper">
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-1.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-2.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-3.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-4.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-1.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-2.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-3.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div
      class="sevices-card lozad"
      data-background-image="/assets/images/services-block/services-4.jpg"
    >
      <div class="services-card__layer">
        <a href="#" class="card-link card-link-services">
          <div class="card-link__text">Остекление квартир</div>
          <div class="card-link__icon">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
