<div class="configurator">
  <div class="configurator__bg-slider swiper-no-swiping">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide lozad"
        data-background-image="/assets/images/configurator/config-bg-1.jpg"
      ></div>
      <div
        class="swiper-slide lozad"
        data-background-image="/assets/images/configurator/config-bg-2.jpg"
      ></div>
      <div
        class="swiper-slide lozad"
        data-background-image="/assets/images/configurator/config-bg-3.jpg"
      ></div>
    </div>
  </div>
  <div class="container configurator__inner">
    <div class="configuration__lamination">
      <div class="configuration__collumn">
        <div class="section-title configurator__title">Опции и аксессуары</div>
        <div class="lamination-thumb">
          <div class="lamination-thumb__head">
            <div class="lamination-thumb__title">Ламинация:</div>
            <div class="lamination-thumb__control">
              <div
                class="lamination-thumb__btn lamination-thumb__btn-prev"
                id="lamination-prev"
              >
                <i class="icon-arrow"></i>
              </div>
              <div
                class="lamination-thumb__btn lamination-thumb__btn-next"
                id="lamination-next"
              >
                <i class="icon-arrow"></i>
              </div>
            </div>
          </div>

          <div class="lamination-thumb__slides">
            <div class="lamination-thumb__slide">
              <img
                class="lozad"
                src="/assets/images/lamination/lamination1.jpg"
                alt="lamination"
              />
            </div>
            <div class="lamination-thumb__slide">
              <img
                class="lozad"
                src="/assets/images/lamination/lamination2.jpg"
                alt="lamination"
              />
            </div>
            <div class="lamination-thumb__slide">
              <img
                class="lozad"
                src="/assets/images/lamination/lamination3.jpg"
                alt="lamination"
              />
            </div>
            <div class="lamination-thumb__slide">
              <img
                class="lozad"
                src="/assets/images/lamination/lamination4.jpg"
                alt="lamination"
              />
            </div>
            <div class="lamination-thumb__slide">
              <img
                class="lozad"
                src="/assets/images/lamination/lamination5.jpg"
                alt="lamination"
              />
            </div>
          </div>
        </div>
        <div class="handle-view">
          <div class="lamination-thumb__head">
            <div class="lamination-thumb__title">Предлагаемые ручки:</div>
            <div class="lamination-thumb__control">
              <div
                class="lamination-thumb__btn lamination-thumb__btn-prev"
                id="handle-view-prev"
              >
                <i class="icon-arrow"></i>
              </div>
              <div
                class="lamination-thumb__btn lamination-thumb__btn-next"
                id="handle-view-next"
              >
                <i class="icon-arrow"></i>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="rounded lozad"
                data-src="/assets/images/lamination/handle-view-1.jpg"
                alt="handle-view"
              />
              <div class="handle-view__text">0988867</div>
              <div class="handle-view__text handle-view__text-bold">
                Ручка Rotoline 37 мм
              </div>
            </div>
            <div class="swiper-slide">
              <img
                class="rounded lozad"
                data-src="/assets/images/lamination/handle-view-2.jpg"
                alt="handle-view"
              />
              <div class="handle-view__text">0988867</div>
              <div class="handle-view__text handle-view__text-bold">
                ROTO SWING с ключом
              </div>
            </div>
            <div class="swiper-slide">
              <img
                class="rounded lozad"
                data-src="/assets/images/lamination/handle-view-3.jpg"
                alt="handle-view"
              />
              <div class="handle-view__text">0988867</div>
              <div class="handle-view__text handle-view__text-bold">
                ROTO SWING штифт 37мм
              </div>
            </div>
            <div class="swiper-slide">
              <img
                class="rounded lozad"
                data-src="/assets/images/lamination/handle-view-4.jpg"
                alt="handle-view"
              />
              <div class="handle-view__text">0988867</div>
              <div class="handle-view__text handle-view__text-bold">
                ROTO SWING штифт 37мм
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="configuration__collumn configuration__collumn-right">
        <div class="from-discount__btn configuration-btn from-discount__btn-secondary">
          Заказать окно
        </div>
        <div class="window-handle">
          <div class="window-handle__title">Цвет ручек:</div>
          <div class="window-handle__thumb" id="window-handle__thumb">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-1.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-2.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-3.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-4.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-5.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-6.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-7.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-8.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-9.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-10.jpg"
                  alt="handle-color"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="lozad"
                  data-src="/assets/images/lamination/handle-color-11.jpg"
                  alt="handle-color"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="btn-change__bg" id="change-bg">
          <i class="icon-sun"></i>
          Поменять фон
        </div>
      </div>
    </div>

    <div
      class="lamination-view__slides lozad"
      data-background-image="/assets/images/lamination/lamination-bg.jpg"
    >
      <div class="lamination-view__wrapper swiper-no-swiping">
        <div class="lamination-view__profiles">
          <div class="lamination-view__slide">
            <img
              class="lozad"
              data-src="/assets/images/lamination/lamination-view-1.jpg"
              alt="lamination-view"
            />
          </div>
          <div class="lamination-view__slide">
            <img
              class="lozad"
              data-src="/assets/images/lamination/lamination-view-2.jpg"
              alt="lamination-view"
            />
          </div>

          <div class="lamination-view__slide">
            <img
              class="lozad"
              data-src="/assets/images/lamination/lamination-view-3.jpg"
              alt="lamination-view"
            />
          </div>
          <div class="lamination-view__slide">
            <img
              class="lozad"
              data-src="/assets/images/lamination/lamination-view-4.jpg"
              alt="lamination-view"
            />
          </div>
          <div class="lamination-view__slide">
            <img
              class="lozad"
              data-src="/assets/images/lamination/lamination-view-5.jpg"
              alt="lamination-view"
            />
          </div>
        </div>
        <div class="handle-view__wrapper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-1.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-2.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-3.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-4.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-5.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-6.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-7.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-8.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-9.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-10.png"
                alt="handle-view"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lozad"
                data-src="/assets/images/lamination/handle-view-11.png"
                alt="handle-view"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
